.calendar-list {
  &.layout-list {

    .title {
      display: inline-block;
    }
    .legend {
      @media screen and (min-width: 40em) {
        float: right;
      }
      .category {
        position: relative;
        line-height: 40px;
        display: inline-block;
        margin-left: 12px;
      }
      .color {
        display: inline-block;
        position: relative;
        top: 2px;
        margin-right: 3px;
        width: 16px;
        height: 16px;
      }
      clear: both;
    }
    .entry {
      border: 1px solid #999;
      margin-bottom: 12px;
      height: 100%;
      @media screen and (min-width: 40em) {
        display: flex;
      }
    }
    .cat-color {
      border-bottom: 1px solid #999;
      height: 12px;
      @media screen and (min-width: 40em) {
        float: left;
        width: 1.5%;
        height: auto;
        border-bottom: none;
        border-right: 1px solid #999;
      }
    }
    .date {
      padding: 5px;
      @media screen and (min-width: 40em) {
        float: left;
        width: 25%;
      }
    }
    .body {
      padding: 5px;
      @media screen and (min-width: 40em) {
        display: inline-block;
        width: 73%;
      }
      .title {
        font-weight: bold;
      }
    }
    .location {
      .loc-label {
        font-weight: bold;
      }
    }
    clear: both;
  }

  &.layout-teaser {
    .event {
      .date {
        font-weight: bold;
        @media screen and (min-width: 40em) {
          float: left;
          width: 20%;
        }
      }
      .title {
        @media screen and (min-width: 40em) {
          width: 80%;
        }
      }
      clear: both;
    }

  }

}